.THIS {

}

.THIS lightning-button {
    display:block;
}



.THIS .ns-lwc-spinner-container {
    position: relative;

}

.THIS .ns-lwc-spinner-container-fillter {
    height: 200px;
}